
html {
    position: relative;
    min-height: 100%;
  }

  /* Index */
.main {
   background-color: rgba(0, 0, 0, 0.055);
    margin-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: darkgray;
    margin-top: 60px;
};

/* Portfolio */
#project-wall{
  position: relative;
}

.project-name{
  position: absolute;
  width: 100%;
  bottom: 100px;
  /* right: 20px; */
  background-color:teal;
  color: white;
  /* padding-left: 20px;
  padding-right: 20px; */
}